body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ffe6f0;
  color: #333;
}

header {
  background: #ff4da6;
  color: white;
  padding: 15px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
}

.hero-text h2 {
  color: #ff4da6;
}

.hero button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  background: #ff4da6;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.hero-img img {
  width: 350px;
  border-radius: 50%;
  border: 5px solid #f6a0cb;
  margin-top: 70px;
}

section {
  padding: 10px;
  text-align: center;
}

.card {
  background: #ffcce0;
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  display: inline-block;
}

form input, form textarea {
  display: block;
  width: 80%;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid #ff4da6;
  border-radius: 5px;
}

form button {
  background: #ff4da6;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
}

footer {
  background: #ff4da6;
  color: white;
  text-align: center;
  padding: 15px;
}

/* Responsiveness */
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
  }
}
